<li class="mp3"><span class="text"><a class="file-download-link" target="_blank" href="index.php?action=download&amp;file=;:filePath:;">;:title:;</a> <a class="linkbutton smallbutton" href=";:direct-link:;">perma</a> ;:add-to-playlist:;  <code class='filesize'>;:filesize:;</code> <code class='bitrate'>;:bitrate:;</code></span></li>

