<span class="filesize_type"><span class="dropwrapper"><a class="dirlink" data-url=";:url:;">;:backDir:;</a><div class="drop">;:thelinks:;</div><!--div.drop--></span><!--span.dropwrapper--></span><!--span.filesize_type-->
