<span id="theurl" data-url=";:esc_dir:;" />
<div class="album-title">;:html_dir:;</div><!--div.album-title-->
<div class="m3uplayer">
    <div id="mediaplayer"></div>
    ;:flashPlayer:;
</div><!--div.m3uplayer-->
