<li class="dirlink-cover dirlinkcover" style="background:url(';:js_background_url:;') no-repeat left center; background-size:128px 128px;" data-url=";:html_dir:;">
    <div class="linknamediv">
        <div class="dirtext">
            <a class="linkname">;:html_end_dir:;</a><br /><br />;:addToPlaylist:; ;:createAddRadioButton:;
        </div>
    </div><!--div.linknamediv-->
    <div class="clear"></div><!--div.clear-->
</li>
