<span class="createaddradiobutton"><span class="createradiobutton" data-dir=";:html_dir:;" title="Create a radio station from this directory and below.">radio</span><span class="addtoradiobutton" data-dir=";:html_dir:;" title="Add this directory and below to your radio station.">+</span></span>
