<span class="createremoveradiobutton"><span class="createradiobutton" data-dir=";:html_dir:;" title="Create a radio station from this directory and below.">radio</span><span class="removefromradiobutton" data-dir=";:html_dir:;" title="Remove this album from your radio station.">&ndash;</span></span>
