<div class="controls-wrapper">
    ;:searchBox:;
    <ul id="navlist">
        ;:controls:;
    </ul>
</div><!--.controls-wrapper-->
<div class="clear"></div>
<div id="musicwrapper">
    ;:coverart:;
    <ul id="musicindex">
        ;:index:;
    </ul>
</div>
