<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" />
        ;:viewport:;
        <title>WsMp3Streamer Installer</title>
        <link rel="stylesheet" type="text/css" href="css/streams.css" />
        <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            ;:pageContent:;
            <div class="clear"></div><!--div.clear-->
        </div><!--div.container-->
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            newUserForm = "<div class=\"new-user\"><hr /><div class=\"form-group\">"
                    + "    <label for=\"email\">Email</label>"
                    + "    <input name=\"email[]\" type=\"text\" class=\"form-control\" placeholder=\"Email...\" />"
                    + "</div>"
                    + "<div class=\"form-group\">"
                    + "    <label for=\"password\">Password</label>"
                    + "    <input name=\"password[]\" type=\"text\" class=\"form-control\" placeholder=\"Password...\" />"
                    + "    <p>You must enter a hashed password. See instructions above for using duckduckgo.com.</p>"
                    + "    <p>e.g. 6322c48be847940f6d9466bf07d2ce53186ea77c</p>"
                    + "</div><p style=\"margin-bottom:16px\" class=\"btn btn-danger\" onclick=\"removeUser(this)\">Remove</p></div>";
            newRestrictedUserForm = "<div class=\"new-user\"><hr /><div class=\"form-group\">"
                    + "<label for=\"email\">Email</label>"
                    + "<input name=\"email[]\" type=\"text\" class=\"form-control\" placeholder=\"Email...\" style=\"background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;\" oldautocomplete=\"remove\" autocomplete=\"off\">"
                    + "</div><p style=\"margin-bottom:16px\" class=\"btn btn-danger\" onclick=\"removeUser(this)\">Remove</p></div>";
            $("#addAnotherUser").on("click", function() {
                $(this).before(newUserForm); 
            });
            $("#addAnotherRestrictedUser").on("click", function() {
                $(this).before(newRestrictedUserForm); 
            });
            function removeUser(e) {
                $(e).parent().remove();
            }
        </script>
    </body>
</html>
