<div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface">
            <div class="jp-controls">
                <a href="javascript:;" class="jp-play" tabindex="1" title="play"><span class="fa fa-play"></span></a>
                <a href="javascript:;" class="jp-pause" tabindex="1" title="pause"><span class="fa fa-pause"></span></a>
                <a href="javascript:;" class="jp-stop" tabindex="1" title="stop"><span class="fa fa-stop"></span></a>
                <a href="javascript:;" class="jp-previous" tabindex="1" title="previous track"><span class="fa fa-backward"></span></a>
                <a href="javascript:;" class="jp-next" tabindex="1" title="next track"><span class="fa fa-forward"></span></a>
                <span class="jp-toggles">
                    <a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"><span class="fa fa-repeat"></span></a>
                    <a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"><span class="fa fa-repeat"></span></a>
                    <a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle"><span class="fa fa-random"></span></a>
                    <a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off"><span class="fa fa-random"></span></a>
                </span>
                <a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><span class="fa fa-volume-down"></span></a>
                <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><span class="fa fa-volume-off"></span></a>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                </div>
                <a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><span class="fa fa-volume-up"></span></a>
                <div class="clear"></div>
            </div>
            <div class="jp-time-holder">
                <div class="jp-current-time"></div>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-duration"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="jp-title">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="jp-playlist">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="jp-extra-controls">
            <span class="linkbutton jp-clear-playlist">clear playlist</span>
            <span class="linkbutton"><a href="index.php?action=downloadPlaylist">download playlist</a></span>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>
<script type="text/javascript">
    myPlaylist = new jPlayerPlaylist(
        {
            jPlayer: "#mediaplayer",
            cssSelectorAncestor: "#jp_container_1",
        },
        ;:playlist:;,
        {
            playlistOptions: {
                enableRemoveControls: true,
                shuffleOnLoop: true
            },
            swfPath: "js/jplayer",
            supplied: "mp3, ogg, m4a",
            solution: "flash, html",
            supplied: "mp3, ogg, oga, m4a",
            backgroundColor: "white",
            size: {
                width: "800px",
            },
            volume: ;:volume:;,
            keyEnabled: true,
            ready: function() {
                if (";:autoplay:;" == "true") {
                    $(this).jPlayer("play");

                    // TODO(k92j9f): This instance is for radio mode because the play event doesn't fire.
                    setPlayTimeout();
                }

                $(".jp-playlist-item-remove").on("click", function() {
                    var dir = $(this).siblings(".jp-playlist-item").children("img").data("dir");
                    var file = $(this).siblings(".jp-playlist-item").children("img").data("file");
                    $.getJSON("ajax.php?action=removeFromPlaylist&dir=" + encodeURIComponent(dir) + "&file=" + encodeURIComponent(file), function(data) {
                        //console.log("Removing: " + JSON.stringify(data));
                    });
                });
            },
            play: function() {
                if (isRadioMode) {
                    //alert('in radio mode');
                    //console.log("radio on: Playlist size: " + myPlaylist.playlist.length + ", Current position: " + myPlaylist.current);
                } else {
                    //alert('not in radio mode');
                    //console.log("radio off: Playlist size: " + myPlaylist.playlist.length + ", Current position: " + myPlaylist.current);
                }

                // TODO(k92j9f): This instance is for normal non-radio mode because the play event doesn't fire in radio mode.
                setPlayTimeout();
            },
            stop: function() {
                // This is how you get the current time.
                //console.log($("#mediaplayer").data("jPlayer").status.currentTime);
                var stoppedAt = $("#mediaplayer").data("jPlayer").status.currentTime;
                console.log("stoppedAt: " + stoppedAt);
            },
            pause: function() {
            }
        }
    );
</script>
