;:message:;
<form action=";:self:;?action=login" method="post">
    <div class="fieldset">
        <h1 class="legend">Welcome</h1>
        <input ;:disabled:; type="text" name="username" id="username" placeholder="Email..." /><br />
        <input ;:disabled:; type="password" name="password" id="password" placeholder="Password..." /><br />
        <input ;:disabled:; type="submit" value="login" class="button" />
    </div>
</form>
