<a id="permlinkbutton" class="button" style="cursor:pointer;" target="_blank" href=";:permalink:;">Perma</a>

<span class="linkbutton addtoplaylist" data-type="dir" data-dir=";:data-dir:;" data-file=";:data-file:;" title="Add to playlist">+playlist</span>

<span class="createaddradiobutton"><span class="createradiobutton" data-dir=";:data-dir:;" title="Create a radio station from this directory and below.">radio</span><span class="addtoradiobutton" data-dir=";:data-dir:;" title="Add this directory and below to your radio station.">+</span></span>
