<img class="playlist-albumart" data-done="false" data-dir=";:dir:;" data-file=";:file:;" style="width:0px; height:0px;" src="images/clear-pix-1x1.png" /> <span class='playlistTitle'>;:playlistTitle:;</span>
