<li class="previousDirectoryListItem" id="playercontrols">
    <!--<a id="playbutton" class="button" style="cursor:pointer;" data-url=";:dir:;">Play</a> <a class="button download" target="_blank" href="index.php?action=downloadAlbum&amp;dir=;:enc_dir:;" onclick="return confirm('After clicking ok, it may take some time to prepare your download - please wait - your download will begin shortly.')">Download</a> <a id="permlinkbutton" class="button" style="cursor:pointer;" target="_blank" href=";:permalink:;">Perma</a>-->
    <a id="playbutton" class="button" style="cursor:pointer;" data-url=";:dir:;">Play</a> <a class="button download" target="_blank" href="index.php?action=downloadAlbum&amp;dir=;:enc_dir:;">Download</a> <a id="permlinkbutton" class="button" style="cursor:pointer;" target="_blank" href=";:permalink:;">Perma</a>

    <span class="linkbutton addtoplaylist" data-type="dir" data-dir=";:data-dir:;" data-file=";:data-file:;" title="Add to playlist">+playlist</span>

    ;:button:;
</li>
