<div id="searchbox">
    <input class="button-left showtooltip" data-toggle="tooltip" data-placement="bottom" id="my-radio-button" type="button" value="My" title="Play my personal radio station." /><input class="button-right showtooltip" data-toggle="tooltip" data-placement="bottom" id="radio-button" type="button" value="Radio" title="Play radio station from all songs." /> <input class="button" id="logout-link" type="button" value="Logout" /> <input type="text" id="search" placeholder="Find some music..." />
</div><!--div#searchbox-->
